<div id = "container">
<div id = "image_box">
<p>オリジナルイメージ</p>
<%= image_tag(@dotimage.resized_image.url(:small), :size => '150x150') %>
</div>
<div id = "dot_box">
<table>
<thead>
<tr>
  <th></th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>10</th>
  <th>11</th><th>12</th><th>13</th><th>14</th><th>15</th><th>16</th><th>17</th><th>18</th><th>19</th><th>20</th>
  <th>21</th><th>22</th><th>23</th><th>24</th><th>25</th><th>26</th><th>27</th><th>28</th><th>29</th><th>30</th>
  <th>31</th><th>32</th>
</tr>
</thead>
<tbody>
<% row = 1 %>
<% for y in 0..31 %>
  <tr>
  <td><%= row %></td>
  <% @dotimage.palettes.where(:position_y => y).order('position_x ASC').each do |palette| %>
    <td bgcolor="<%= Color.find(palette.color_id).hex %>"><%= palette.palette_no %></td>
  <% end %>
  <% y += 1 %>
  <% row += 1 %>
</tr>
<% end %>
</tbody>
</table>
</div>
<div id = "palette_box">
<table>
<tbody>
<% @color_palettes.each do |color| %>
  <tr>
  <td><%= @palettes_order.where(:color_id => color.color.id).first.palette_no %></td>
  <td bgcolor="<%= color.color.hex %>"><%= color.color.name %></td>
  </tr>
  <% end %>
</tbody>
</table>
</div>
<div id = "container_footer">
</div>
</div>
